{
  "env": {
    "development": {
      "presets": ["next/babel", "@babel/preset-typescript"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@components": "./src/components",
              "@utils": "./src/utils",
              "@layout": "./src/layout",
              "@styles/*": "./src/styles/*"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": ["next/babel", "@babel/preset-typescript"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@components": "./src/components",
              "@utils": "./src/utils",
              "@layout": "./src/layout",
              "@styles/*": "./src/styles/*"
            }
          }
        ]
      ]
    },
    "test": {
			"presets": [
				[
					"next/babel",
					{
						"preset-env": {
							"modules": "commonjs"
						}
					}
				]
			],
			"plugins": [
				[
					"module-resolver",
					{
						"root": ["./"],
						"alias": {
							"@components": "./src/components",
							"@containers": "./src/containers",
							"@common": "./src/common",
							"@state": "./src/state",
							"@store": "./src/store",
							"@utils": "./src/utils"
						}
					}
				]
			]
		}
  }
}
